<div fxLayout="row" fxLayoutAlign="center">
  <h1> Login </h1>
</div>
<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field>
      <input matInput formControlName="email"
             type="email"
             name="email"
             placeholder="Email">
      <mat-error *ngIf="!form.get('email').hasError('required')"> Invalid email</mat-error>
      <mat-error *ngIf="form.get('email').hasError('required')"> Email is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="password"
             type="password"
             name="password"
             placeholder="Password">
      <mat-error *ngIf="form.get('password').hasError('required')"> Password is required</mat-error>
    </mat-form-field>

    <button [disabled]="!form.valid" mat-raised-button color="primary">Log in</button>
  </form>
</section>
