<h1 mat-dialog-title>Are you Sure?</h1>
<mat-dialog-content>
  <p> You already have completed {{data.progress}}%. </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" color="primary">Yes</button>
  <button mat-button [mat-dialog-close]="false" color="warm">No</button>
</mat-dialog-actions>
