<section fxLayout="row" fxLayoutAlign="center" class="new-training">
  <form #form="ngForm" (submit)="onNewTraining(form)">
    <mat-card fxFlex="400px" fxFlex.xs="100%">
      <mat-card-title fxLayoutAlign="center"> Time to start a new exercise</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field>
          <mat-select placeholder="Select an exercise" ngModel name="selectedExerciseId" required>
            <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button mat-raised-button [disabled]="form.invalid" color="primary" type="submit">
          Start
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
