<mat-nav-list>
  <a mat-list-item routerLink="/training" (click)="close()" *ngIf="isLogged">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Training</span>
  </a>
  <a mat-list-item routerLink="/signup" (click)="close()" *ngIf="!isLogged">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Signup</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="close()" *ngIf="!isLogged">
    <mat-icon>vpn_key</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <mat-list-item (click)="onLogout()" *ngIf="isLogged">
    <button mat-icon-button>
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
