<section fxLayout="column" fxLayoutAlign="center center" class="current-training">
  <h1> Training {{exercise.name}} ({{exercise.duration}}s) </h1>
  <mat-progress-spinner [mode]="'determinate'" [value]="progress"></mat-progress-spinner>
  <h2 style="margin-bottom: 0">{{progressLabel}} %</h2>
  <h3 style="margin-top:0; color: lightslategray;">{{timeElapsedLabel}} seconds </h3>
  <p>Keep on with the hard work. You can do it!</p>
  <button mat-raised-button (click)="onTrainingStop()" color="accent" [disabled]="progress >= 100">Stop</button>
</section>
