<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">LOGO</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="flex-end" fxFlex fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!isLogged"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="!isLogged"><a routerLink="/login">Login</a></li>
      <li *ngIf="isLogged"><a routerLink="/training">Training</a></li>
      <li *ngIf="isLogged"><a (click)="onLogout()" style="cursor: pointer">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
