<div fxLayout="row" fxLayoutAlign="center">
  <h1> Sign Up </h1>
</div>
<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (submit)="onSubmit(f)">
    <mat-form-field>
      <input matInput ngModel email required #emailInput="ngModel" type="email" name="email" placeholder="Email">
      <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Should be at least 6 characters">
      <input matInput ngModel required #passwordInput="ngModel" minlength="6" type="password" name="password"
             placeholder="Password">
      <mat-hint align="end"> {{passwordInput.value?.length}} \ 6</mat-hint>
      <mat-error>Should be at least 6 characters long</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput ngModel required [matDatepicker]="picker" [max]="maxDate" name="birthday"
             placeholder="Birth Date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="multi-year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>

    <mat-checkbox ngModel required name="agree">I agree with the terms and conditions</mat-checkbox>

    <button [disabled]="f.invalid" mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</section>
