<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list (closeSideNav)="onCloseSideNav()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <app-header (toggleSideNav)="onToggleSideNav()"></app-header>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
